<div class="center hero-unit">
	<h1>Welcome to the Project Tracking</h1>
	<h2>
		This is the homepage for the 
		<!-- <a href="http://railstutorial.orb/"> -->Project Tracking<!-- </a> -->
		Sample Application.
	</h2>

	<%= link_to "Add Project!", new_project_path, class: "btn btn-large btn-primary" %>
	<%= link_to "All Project!", projects_path, class: "btn btn-large btn-primary" %>

</div>

<%#= link_to image_tag("http://rubyonrails.org/images/rails.png", alt: "Rails"), 'http://rubyonrails.org/' %>
